.inicio {
    width: 100%;
    height: 100vh;
    background: url(../public/img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.perfil {
    width: 100%;
    height: 100vh;
    background: url(../public/img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}