.inicio-container {
    width: 100%;
    height: 100vh;
    background-image: url(../public/img/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-inicio {
    width: calc(100% - 120px);
}