/* Boton-menu */

.conteiner-bars { 
    position: fixed;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 14px;
    color: #fff;
    z-index: 100000;
}

.conteiner-bars>i {
    cursor: pointer;
}

.bx-x {
    font-size: 30px;
    color: #fff;
    transform: rotate(360deg);
    transition: all 1s;
}

/* SideBar */

.sideBar {
    width: 0;
    height: 100vh;
    padding: 5% 0;
    display: grid;
    grid-template-rows: 25% 75%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(10, 10, 10, .65);
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, .09);
    position: fixed;
    top: 0;
    left: -200px;
    z-index: 100000;
    font-family: 'Open Sans', sans-serif;
    transition: .4s all;
}

.sideBar--show {
    left: 0;
    width: 200px;
}

/* SideBar logo */

.sideBar .navBar__logo {
    display: grid;
    place-content: center;
    row-gap: 10px;
}

.sideBar .navBar__logo img {
    place-self: center;
    width: 56px;
    border: 1px solid rgb(209, 210, 223);
    border-radius: 50%;
}

.sideBar .navBar__logo h3 {
    color: #fff;
    font-size: 20px;
    font-variant: small-caps;
    pointer-events: none;
}

/* Sidebar navBar */

.sideBar .sideBar__navBar {
    display: grid;
    align-content: flex-start;
    padding: 0 12px;
}

.sideBar__navBar .navBar__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.sideBar__navBar .nav-item {
    cursor: pointer;
    display: grid;
    justify-items: center;
    height: 40px;
    width: 100%;
    margin: 5px 0;
    border-radius: 4px;
}

.sideBar__navBar .nav-item.active {
    background-color: #ff328e;
}

.sideBar__navBar .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

.sideBar__navBar .nav-item {
    justify-items: flex-start;
}

.sideBar__navBar .nav-item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.sideBar__navBar .nav-item a i {
    display: flex;
    font-size: 18px;
    margin: 0 15px;
    color: #fff;
}

.sideBar__navBar .nav-item a span {
    display: flex;
    color: #fff;
    font-size: 14px;
}

.sideBar__navBar hr {
    display: none;
}


/* Sidebar Toggle */

.sideBar .sideBar__toggle {
    display: none;
}

@media (min-width: 768px) {

    .navbar-container {
        width: 120px;
        height: 100%;
    }

    .conteiner-bars {
        display: none;
    }

    .sideBar {
        width: 120px;
        height: 100vh;
        padding: 3% 0;
        display: grid;
        grid-template-rows: 25% 75%;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        background: rgba(10, 10, 10, .65);
        box-shadow: 0 8px 32px rgb(2, 4, 24);
        border-right: 2px solid rgba(255, 255, 255, .09);
        position: fixed;
        top: 0;
        left: 0;
        transition: all .4s ease-in-out;
    }

    .sideBar.open {
        width: 360px;
    }

    /* SideBar logo */

    .sideBar .navBar__logo {
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }

    .sideBar .navBar__logo img {
        place-self: center;
        width: 56px;
        border: 1px solid rgb(209, 210, 223);
        border-radius: 50%;
    }

    .sideBar.open .navBar__logo img {
        align-self: start;
        width: 80px;
    }

    .sideBar .navBar__logo h3 {
        color: #fff;
        font-size: 18px;
        font-variant: small-caps;
        pointer-events: none;
        scale: 0;
        opacity: 0;
        display: none;
    }

    .sideBar.open .navBar__logo h3 {
        scale: 1;
        opacity: 1;
        display: block;
        transition: .4s;
        transition-delay: 6s;
    }

    /* SideBar__navBar */

    .sideBar .sideBar__navBar {
        width: 100%;
        display: grid;
        place-content: center;
        place-items: center;
        row-gap: 0;
    }

    .sideBar.open .sideBar__navBar {
        padding: 0 16px;
        display: grid;
        place-content: start;
        place-items: center;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-items: center;
        /* transition: .3s; */
    }


    .sideBar__navBar .navBar__nav {
        width: 100%;
        display: unset;
        place-content: unset;
        padding: 0 12px;
    }

    .sideBar__navBar .nav-item {
        cursor: pointer;
        display: grid;
        justify-items: center;
        height: 40px;
        width: 100%;
        margin: 5px 0;
        border-radius: 4px;
    }

    .sideBar__navBar .nav-item.active {
        background-color: #ff328e;
    }

    .sideBar__navBar .nav-item:hover {
        background: rgba(255, 255, 255, .1);
    }

    .sideBar__navBar .nav-item {
        justify-items: flex-start;
    }

    .sideBar__navBar .nav-item a {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .sideBar__navBar .nav-item a i {
        display: flex;
        font-size: 18px;
        margin: 0 15px;
        color: #fff;
    }

    .sideBar__navBar .nav-item a span {
        display: none;
    }

    .sideBar.open .sideBar__navBar .nav-item a span {
        display: block;
        font-size: 14px;
    }

    .sideBar__navBar hr {
        display: none;
    }

    .sideBar.open .sideBar__navBar hr {
        display: block;
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, .1);
        border-radius: 3px;
        margin: 8px 0;
    }

    /* Sidebar navBar__contact */

    .sideBar .navBar__contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 12px;
    }

    .navBar__contact .nav-item {
        margin: 2.5px 0;
    }

    /* Sidebar Toggle */

    .sideBar .sideBar__toggle {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 38px;
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translate(0%, 0%);
        -ms-transform: translate(-50%, -50%);
        line-height: 50%;
        text-align: center;
        border-radius: 50%;
        padding: 2px 0 2px 2px;
        background: linear-gradient(90deg, transparent 50%, rgba(10,10,10,.65) 50%);
    }

    /* .sideBar .sideBar__toggle i {
        transition: .4s linear;
    } */

    .sideBar.open .sideBar__toggle i {
        transform: rotateY(180deg);
    }

}