/* .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100vh;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(10, 10, 10, .65);
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, .09);
}

.sidebar .logo {
    width: 100%;
    height: 240px;
    padding: 40px 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

.sidebar .logo img {
    width: 56px;
    border: 1px solid rgb(209, 210, 223);
    border-radius: 50%;
}

.sidebar .logo h3 {
    color: #fff;
    font-size: 36px;
    margin-top: 12px;
    font-variant: small-caps;
    pointer-events: none;
    scale: 0;
    opacity: 0;
}

.sidebar .nav-title {
    color: #dadada;
    margin: 40px 0 18px;
    pointer-events: none;
    opacity: 0;
}

.sidebar nav {
    padding: 0 30px;
    padding-bottom: 40px;
}

.sidebar nav .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    margin: 8px 0;
    color: #fff;
    transition: .3s;
}

.sidebar nav .nav-item.active {
    background: #ff328e !important;
}

.sidebar nav .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

.sidebar nav .nav-item i {
    font-size: 26px;
}

.sidebar nav .nav-item span {
    font-size: 18px;
    margin-left: 8px;
    pointer-events: none;
    opacity: 0;
}

.sidebar hr {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 3px;
    margin: 40px 0 50px;
    opacity: 0;
}

.sidebar .toggle {
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: 180px;
    right: -20px;
    font-size: 38px;
    line-height: 50%;
    text-align: center;
    border-radius: 50%;
    padding: 2px 0 2px 2px;
    background: linear-gradient(90deg, transparent 50% rgba(10, 10, 10, .65) 50%);
} */

.container-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.container-menu #menu {
    font-size: 30px;
    color: #fff;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(10, 10, 10, .65);
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, .09);
    width: 200px;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 365px;
    justify-items: center;
    padding: 10px 0 0;
}

.sidebar .logo {
    width: 100%;
    /* height: 240px; */
    display: grid;
    gap: 15px;
    align-items: center;
    justify-items: center;
}

.sidebar .logo img {
    width: 56px;
    border: 1px solid rgb(209, 210, 223);
    border-radius: 50%;
}

.sidebar .logo h3 {
    color: #fff;
    font-size: 20px;
    /* margin-top: 12px; */
    font-variant: small-caps;
    pointer-events: none;
    /* scale: 0;
       opacity: 0;
    display: none; */
}

.sidebar .navbar {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.sidebar .nav-title {
    display: none;
}

.sidebar hr {
    display: none;
}

.sidebar .toggle {
    display: none;
}

.sidebar .navbar ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.sidebar .navbar ul li {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 5px 0;
}

.sidebar .navbar ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: left;
}

.sidebar .navbar ul li a i {
    display: flex;
    font-size: 18px;
    margin: 0 15px;
    color: #fff;
}

.sidebar .navbar ul li a span {
    display: flex;
    color: #fff;
    font-size: 14px;
}

/* ----------------------------- */

.sidebar .navbar .navbar__contact {
    display: flex;
    flex-direction: row;
    height: 40px;
    position: absolute;
    bottom: 16px;
}

.sidebar .navbar .navbar__contact li {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    margin: 0;
}

.sidebar .navbar .navbar__contact li a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidebar .navbar .navbar__contact li a i {
    display: flex;
    font-size: 26px;
    margin: 0;
    color: #fff;
}

.sidebar .navbar .navbar__contact li a span {
    display: none;
}