.container-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.container-menu #menu {
    font-size: 30px;
    color: #fff;
}

.bx-x {
    font-size: 30px;
    color: #fff;
    transform: rotate(360deg);
    transition: all 1s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(10, 10, 10, .65);
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, .09);
    min-width: 200px;
    width: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 365px;
    justify-items: center;
    padding: 5% 0 0;
    transition: all 0.3s;
}

.sidebar--show {
    left: 0;
    width: 200px;
}

.sidebar .logo {
    width: 100%;
    /* height: 240px; */
    display: grid;
    gap: 15px;
    align-items: center;
    justify-items: center;
}

.sidebar .logo img {
    width: 56px;
    border: 1px solid rgb(209, 210, 223);
    border-radius: 50%;
}

.sidebar .logo h3 {
    color: #fff;
    font-size: 20px;
    /* margin-top: 12px; */
    font-variant: small-caps;
    pointer-events: none;
    /* scale: 0;
       opacity: 0;
    display: none; */
}

.sidebar .navbar {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.sidebar .nav-title {
    display: none;
}

.sidebar hr {
    display: none;
}

.sidebar .toggle {
    display: none;
}

.sidebar .navbar ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.sidebar .navbar ul li {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 5px 0;
}

.sidebar .navbar ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: left;
}

.sidebar .navbar ul li a i {
    display: flex;
    font-size: 18px;
    margin: 0 15px;
    color: #fff;
}

.sidebar .navbar ul li a span {
    display: flex;
    color: #fff;
    font-size: 14px;
}

/* ----------------------------- */

.sidebar .navbar .navbar__contact {
    display: flex;
    flex-direction: row;
    height: 40px;
    position: absolute;
    bottom: 16px;
}

.sidebar .navbar .navbar__contact li {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    margin: 0;
}

.sidebar .navbar .navbar__contact li a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidebar .navbar .navbar__contact li a i {
    display: flex;
    font-size: 26px;
    margin: 0;
    color: #fff;
}

.sidebar .navbar .navbar__contact li a span {
    display: none;
}