.perfil-container {
    width: 100%;
    height: 100vh;
}

.section-perfil {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    transition: .4s all;
}

.section-perfil .about-container {
    width: 100%;
}

.about-container .about__mi {
    max-width: 596px;
    margin: 0 auto;   
}

.about-container .about__mi h3 {
    text-align: center;
    font-size: 24px;
    font-family: var(--titulo);
    margin-bottom: 20px;
    margin-top: 8px;
}

.about-container .about__mi p {
    margin-bottom: 20px;
    line-height: 16px;
}

.about-container .about__mi p span {
    color: #ff328e;
    font-weight: bold;
}

.about-container .about__details {
    max-width: 860px;
    margin: 0 auto;
}

.about-container .about__details .datos-personales h4{
    margin-bottom: 10px;
}

.about-container .about__details .datos-intereses h4 {
    margin: 10px 0;
}

.about-container .about__details div ul li strong {
    color: #ff328e;
}

.about-container .about__details div ul li span {
    font-size: 14px;
}

.about-container .about__details .datos-personales ul li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.about-container .about__details .datos-personales ul li strong {
    align-self: center;
}

.about-container .about__details .datos-personales ul li span {
    margin-left: 8px;
}

.about-container .about__details .datos-intereses ul {
    display: flex;
    justify-content: space-evenly;
}

.about-container .about__details .datos-intereses ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252A2E;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
}

.about-container .about__details .datos-intereses ul li:hover {
    background-color: #1e2326;
}

.about-container .about__details .datos-intereses ul li strong {
    font-size: 24px;
}

.about-container button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #1e2326;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 10px auto;
    margin-bottom: 0;
    padding: 10px 14px;
    font-size: 14px;
    position: relative;
    z-index: 10;
    color: #fff;
}

@media (min-width: 768px) {

    .section-perfil {
        width: unset;
        width: calc(100% - 120px);
        
    }

    .section-perfil .about-container .about__mi h3 {
        margin-top: 0;
        text-align: center;
        font-size: 48px;
    }

    .section-perfil .about-container .about__mi p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .section-perfil .about-container .about__mi p span {
        color: #ff328e;
        font-weight: bold;
    }

    .section-perfil .about-container .about__details {
        display: flex;
    }

    .section-perfil .about-container .about__details>div{
        width: 50%;
    }

    .section-perfil .about-container .about__details div>h4 {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .section-perfil .about-container .about__details div ul li {
        margin: 12px 0;
    }

    .about-container .about__details .datos-intereses h4 {
        margin-top: 0;
    }

    .about-container .about__details .datos-intereses ul li {
        padding: 16px;
    }

}
