.perfil-container {
    width: 100%;
    height: 100vh;
    background-color: red;
}

.section-perfil {
    width: calc(100% - 120px);
    height: 100%;
    background-color: blue;
    margin-left: 120px;
}

.section-perfil h3 {
    color: white;
    font-size: 20px;
    text-align: center;
}