.portfolio-container {
    width: 100%;
    height: 100vh;
}

.section-portfolio {
    /* width: calc(100% - 120px); */
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
}