.skills-container {
    width: 100%;
    height: 100vh;
    background-image: url(../public/img/fondo-skills.jpg);
    background-size: cover;
    background-position: left;
}

.section-skills {
    /* width: calc(100% - 120px); */
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    color: #fff;
}