@import url(navegador.css);
@import url(inicio.css);

@font-face {
  font-family: "Fuente-Grande";
  src: url(../public/fuentes/BurbankBigCondensed-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/* .section {
  padding: 4.5rem 0 2rem;
} */

.section h2 {
  text-align: center;
  color: white;
}

.section__height {
  background-image: url(../public/img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}